.wrapper {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-left: solid 1px;
    border-right: solid 1px;    
    border-color: darkslategray;
}
header{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
nav{
    position: sticky;
    top: 0;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 22px;
  }
  
  .nav li {
    float: left;
  }
  .nav #most {
      float: right;
      font-size: large;
      font-weight: bold;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .nav li a:hover {
    background-color: #111;
  }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: small;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center
  }
  footer ul li {
      display: inline-block;
  }
  
  footer li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
  }
  .out_wrapper {
      background-color: lightgray;
  }
  .wrapper main h1 {
    font-size: 50px;
    text-align: center;
    padding: 15px;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .wrapper main p{
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-indent: 25px;
  }
  #title_code {
      font-family: 'Courier New', Courier, monospace;
  }